﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ExcelToSQL.aspx.cs" Inherits="UploadExcelData.ExcelToSQL" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div align="center" 
            style="color: #000080">
            UploadExcel</div>
        <div align="center"
            style="height: 56px; width: 1268px; color: #3366CC;">
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Upload" Width="124px" />
            <br />
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        </div>
    </form>
</body>
</html>
